// fonts
$font-main: 'Open Sans', sans-serif;
$font-secondary: 'Quicksand', sans-serif;
$font-tertiary: 'Roboto', sans-serif;

// colors
$color-white: #fff;
$color-blue: #5E81FE;
$color-blue-light: #697CA6;
$color-blue-lighter: #8D96BD;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  font-family: $font-main;
}

.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
}

// header
.header {
  padding: 2.7rem 2rem;
  border-bottom: 1px solid #D8E3FE;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 7.3rem;
  }

  &__logo {
    width: 2.6rem;
    height: 2.6rem;
    background-color: $color-blue;
    border-radius: 50%;
  }

  &__nav {
    display: flex;
    gap: 4.2rem;
  }

  &__nav-link {
    &:link, &:visited {
      text-decoration: none;
      font-family: $font-secondary;
      transition: color .2s;
      color: $color-blue-light;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 700;
    }

    &:hover, &:active {
      color: $color-blue;
    }
  }

  &__nav-link.active {
    color: $color-blue;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 4.4rem;
  }

  &__social {
    list-style-type: none;
    display: flex;
    gap: 3.8rem;
  }

  &__social-item {
    transition: all .2s;
    fill: $color-blue-light;

    & > svg:hover {
      fill: $color-blue; // #5E81FE
      cursor: pointer;
    }
  }

  &__social-item.active > svg {
    fill: $color-blue;
  }

  &__icon {
  }

  &__button {
  }
}

// productivity
.productivity {
  position: relative;
  width: 100%;
  min-height: 57rem;
  height: 100%;

  &__main-pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-image: url("../img/main/main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__secondary-pic {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/main/secondary.png");
    z-index: 50;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding-top: 9.1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 1.6rem;
  }

  &__main-title {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 4.8rem;
    margin-bottom: 2.8rem;
    line-height: 6rem;
    color: #3D4F9F;
  }

  &__highlighted {
    font-weight: 700;
  }

  &__text {
    max-width: 50rem;
    margin: 0 auto 2rem auto;
    font-family: $font-tertiary;
    line-height: 2.9rem;
    font-size: 1.5rem;
    color: #8D96BD;
  }

  &__play {
    background-color: $color-white;
    width: 5.2rem;
    height: 5.2rem;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
  }

  &__triangle {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #5E81FF;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  &__slider {
    margin-top: auto;
    display: flex;
    gap: 1.5rem;
  }

  &__dot {
    width: 1rem;
    height: 1rem;
    background-color: $color-blue-lighter;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      background-color: $color-blue;
    }
  }
}

// brands
.brands {
  background-color: $color-white;
  padding: 6rem 0;

  &__inner {
    display: flex;
    justify-content: center;
    gap: 7.6rem;
  }

  &__brand {
    & > svg {
      fill: #D6DAE5;
      transition: all .2s;
    }

    & > svg:hover {
      cursor: pointer;
      fill: #5982E7;
    }
  }

  &__brand.active > svg {
    fill: #5982E7;
  }

}

// plan and manage
.plan-and-manage {
  background: rgba(245, 248, 255, 1);
  padding: 21rem 0;

  &__inner {
    display: flex;
    gap: 5.5rem;
  }

  &__left {
    width: 100%;
    max-width: 41.3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__main {
  }

  &__subtitle {
    margin-bottom: 2.7rem;
  }

  &__main-title {
    margin-bottom: 2.7rem;
    font-size: 3.6rem !important;
    line-height: 4.5rem !important;
  }

  &__text {
  }

  &__actions {
  }

  &__right {
  }

  &__img {
    width: 100%;
  }
}

// about
.about {
  background-color: $color-white;
  padding: 17.1rem 0;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 9.2rem;
    align-items: center;
  }

  &__headings {
  }

  &__sub-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__main-title {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  &__main {
    display: flex;
    gap: 7rem;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 13rem;
    width: 100%;

    &:not(:last-child)::after {
      position: absolute;
      top: 50%;
      right: -35%;
      content: "";
      width: 2.8rem;
      height: 1px;
      background-color: rgba(218, 228, 254, 1);
    }
  }

  &__image {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F5FF;
  }

  &__heading {
    font-family: $font-main;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: rgba(64, 116, 248, 1);
  }

  &__text {
    text-align: center;
    font-family: $font-main;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: rgba(173, 179, 203, 1);
  }

  &__actions {
    display: flex;
    gap: 4.8rem;
    font-family: $font-main;
    color: rgba(173, 179, 203, 1);
  }

  &__button {
  }

  &__placeholder {
    position: relative;
    text-transform: uppercase;

    &::before, &::after {
      content: "";
      width: 1.5rem;
      height: 1px;
      background-color: rgba(218, 228, 254, 1);
      position: absolute;
    }

    &::before {
      top: 35%;
      left: -200%;
    }

    &::after {
      top: 35%;
      right: -200%;
    }
  }
}

// subtitle
.subtitle {
  font-family: $font-tertiary;
  font-size: 1rem;
  text-transform: uppercase;
  color: #3D4F9F;
  letter-spacing: 1px;
}

// main-title
.main-title {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #3D4F9F;

  & > .highlighted {
    font-weight: 700;
  }
}

// text
.text {
  max-width: 50rem;
  font-family: $font-tertiary;
  line-height: 2.9rem;
  font-size: 1.5rem;
  color: #8D96BD;
}

// button
.button {
  &:link, &:visited {
    padding: 1.3rem 1.6rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px;
    font-size: 1.3rem;
    transition: all .2s;
  }

  &--light-blue {
    background-color: #D2E1FF;
    color: #3A79FF;

    &:hover {
      background-color: darken(#D2E1FF, 20%);
      color: $color-white;
    }
  }

  &--blue {
    background-color: rgba(76, 133, 255, 1);
    color: $color-white;

    &:hover {
      background-color: darken(#D2E1FF, 20%);
      color: $color-white;
    }
  }

  &--blue > .triangle {
    background-color: $color-white;
    width: 7px;
    height: 7px;
    display: inline-block;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    margin-left: 6px;
  }

  &--white {
    background-color: $color-white;
    color: rgba(173, 180, 210, 1);
    border: 1px solid rgba(209, 209, 228, 1);

    &:hover {
      background-color: darken($color-white, 20%);
      color: black;
    }
  }

  &--red {
    background-color: rgba(255, 215, 215, 1);
    color: rgba(212, 63, 63, 1);

    &:hover {
      background-color: darken(rgba(255, 215, 215, 1), 10%);
      color: darken(rgba(212, 63, 63, 1), 10%)
    }
  }
}





